Repository prakash-sucify/monorepo-polyglot, changes with the owners that CODEOWNERS names for each.
All owners: @monorepo-polyglot/platform-team, @monorepo-polyglot/frontend-team, @monorepo-polyglot/backend-team, @monorepo-polyglot/data-team, @monorepo-polyglot/ai-team, @monorepo-polyglot/devops-team

Fix deployment issues and complete monorepo setup
  .gitignore
  DOCKER_SETUP.md
  apps/backend/ai-service/main.py
  apps/backend/ai-service/src/ai_service_python/main.py
  apps/backend/analytics-service/Dockerfile
  apps/backend/analytics-service/src/main.rs
  apps/backend/auth-service/.nx/cache/run.json
  apps/backend/auth-service/.nx/cache/terminalOutputs/13315070974644968445
  apps/backend/auth-service/.nx/workspace-data/file-map.json
  apps/backend/auth-service/.nx/workspace-data/machine.db
  apps/backend/auth-service/.nx/workspace-data/project-graph.json
  apps/backend/auth-service/.nx/workspace-data/project-graph.lock
  apps/backend/auth-service/.nx/workspace-data/source-maps.json
  apps/backend/auth-service/Dockerfile
  apps/backend/auth-service/package.json
  apps/backend/auth-service/src/main.ts
  apps/backend/auth-service/tsconfig.json
  apps/backend/payment-service/main.go
  apps/backend/pdf-service/Dockerfile
  apps/backend/pdf-service/src/main/java/com/pdfservice/controller/PdfController.java
  deploy.sh
  docker-compose.yml
  libs/api-client/eslint.config.mjs
  libs/boundaries/eslint.config.mjs
  libs/constants/eslint.config.mjs
  libs/resilience/eslint.config.mjs
  libs/utils/eslint.config.mjs
  libs/validation/eslint.config.mjs
  nginx/conf.d/monorepo.sucify.com.conf
  nginx/nginx.conf
  pnpm-lock.yaml
  setup-dev.sh
  tools/configs/environments/production.env
Owners: @monorepo-polyglot/platform-team, @monorepo-polyglot/ai-team, @monorepo-polyglot/devops-team, @monorepo-polyglot/data-team, @monorepo-polyglot/backend-team

Clean up monorepo: remove redundant kubectl and minikube binaries
  apps/backend/auth-service/Dockerfile
  apps/backend/auth-service/src/main.ts
  k8s/base/deployments/auth-deployment.yaml
  k8s/base/deployments/backend-deployments.yaml
  k8s/base/deployments/web-deployment.yaml
  k8s/base/ingress.yaml
Owners: @monorepo-polyglot/devops-team, @monorepo-polyglot/backend-team, @monorepo-polyglot/platform-team

All services now build TypeScript to JavaScript and use pnpm consistently.
  apps/backend/auth-service/Dockerfile
  apps/backend/auth-service/pnpm-lock.yaml
  apps/frontend/admin/Dockerfile
  apps/frontend/web/Dockerfile
  docker-compose.yml
  package.json
Owners: @monorepo-polyglot/devops-team, @monorepo-polyglot/backend-team, @monorepo-polyglot/platform-team

Fix build and linting issues across monorepo
  .eslintrc.json
  apps/backend/auth-service-e2e/eslint.config.mjs
  apps/backend/auth-service/.eslintrc.json
  apps/backend/auth-service/eslint.config.mjs
  apps/frontend/admin-e2e/eslint.config.mjs
  apps/frontend/admin/eslint.config.mjs
  apps/frontend/admin/index.d.ts
  apps/frontend/admin/next.config.js
  apps/frontend/web-e2e/eslint.config.mjs
  apps/frontend/web/.eslintrc.json
  apps/frontend/web/eslint.config.mjs
  apps/frontend/web/index.d.ts
  eslint.config.mjs
  libs/api-client/eslint.config.mjs
  libs/api-client/project.json
  libs/boundaries/eslint.config.mjs
  libs/boundaries/tsconfig.lib.json
  libs/constants/eslint.config.mjs
  libs/resilience/eslint.config.mjs
  libs/resilience/src/index.ts
  libs/resilience/tsconfig.lib.json
  libs/types/eslint.config.mjs
  libs/types/project.json
  libs/types/rollup.config.cjs
  libs/ui-components/eslint.config.mjs
  libs/ui-components/project.json
  libs/ui-components/tsconfig.lib.json
  libs/utils/eslint.config.mjs
  libs/validation/eslint.config.mjs
  nx.json
  package.json
  pnpm-lock.yaml
  tools/eslint-rules/index.js
  tools/eslint-rules/package.json
  tools/eslint-rules/tsconfig.json
Owners: @monorepo-polyglot/platform-team, @monorepo-polyglot/backend-team, @monorepo-polyglot/frontend-team

Optimize Dockerfiles and package.json with individual service builds
  apps/backend/ai-service/Dockerfile
  apps/backend/auth-service/Dockerfile
  apps/frontend/admin/Dockerfile
  apps/frontend/web/Dockerfile
  package.json
Owners: @monorepo-polyglot/devops-team, @monorepo-polyglot/platform-team

CODEOWNERS:

# Global owners
* @monorepo-polyglot/platform-team

# Frontend Team
apps/frontend/ @monorepo-polyglot/frontend-team
libs/ui-components/ @monorepo-polyglot/frontend-team

# Backend Team
apps/backend/auth-service/ @monorepo-polyglot/backend-team
apps/backend/payment-service/ @monorepo-polyglot/backend-team
apps/backend/pdf-service/ @monorepo-polyglot/backend-team

# Data Team
apps/backend/analytics-service/ @monorepo-polyglot/data-team

# AI Team
apps/backend/ai-service/ @monorepo-polyglot/ai-team

# Platform Team
libs/api-client/ @monorepo-polyglot/platform-team
libs/validation/ @monorepo-polyglot/platform-team
libs/constants/ @monorepo-polyglot/platform-team
libs/utils/ @monorepo-polyglot/platform-team
libs/resilience/ @monorepo-polyglot/platform-team
libs/boundaries/ @monorepo-polyglot/platform-team
tools/ @monorepo-polyglot/platform-team
k8s/ @monorepo-polyglot/platform-team
monitoring/ @monorepo-polyglot/platform-team
security/ @monorepo-polyglot/platform-team

# DevOps Team
.github/ @monorepo-polyglot/devops-team
docker-compose.yml @monorepo-polyglot/devops-team
Dockerfile* @monorepo-polyglot/devops-team

# Configuration files (require platform team approval)
nx.json @monorepo-polyglot/platform-team
package.json @monorepo-polyglot/platform-team
tsconfig.base.json @monorepo-polyglot/platform-team
